@charset "ISO-8859-1";

body {
    background-color: #cccccc;
    height: 100%;
    background-repeat: no-repeat;
    background-size: cover; 
}

.header {
    padding: 10px 16px;
    background-color: #000000;
    color: #f1f1f1;
    width: 100%;
    height: 10%;
    position: fixed;
    left: 0;
    top: 0;
    opacity: 0.6;
}

#logo {
    margin-left: -5px;
    margin-top: -5px;
    height: 68px;
    cursor: pointer;
}

#divProfile {
    cursor: pointer;
}

#imageProfile {
    border-radius: 50%;
    right: 300px;
    top: 9px;
    height: 60px;
    position: absolute;
}

div.divWelcomeLabel {
    margin-left: 82%;
    top: -60px;
    position: absolute;
    font-family: MerriweatherSans-Light;
    font-size: 13px;
    font-style: normal;
    position: relative;
}

    div.divWelcomeLabel.email {
        top: -55px;
    }

@font-face {
    font-family: 'MerriweatherSans-Light';
    src: url('../../LMS/Fonts/MerriweatherSans-Light.otf') format('opentype');
}

@font-face {
    font-family: 'MerriweatherSans-Italic';
    src: url('../..  /LMS/Fonts/MerriweatherSans-Italic.otf') format('opentype');
}


/* The sidebar menu */
.sidenav {
    height: 77.5%; /*height: 76.5%;*/ /* Full-height: remove this if you want "auto" height */
    width: 250px; /* Set the width of the sidebar */
    position: fixed; /* Fixed Sidebar (stay in place on scroll) */
    z-index: 1; /* Stay on top */
    top: 81px; /* Stay at the top */
    left: 0;
    opacity: 0.5;
    color: floralwhite;
    background-color: #000000; /* Black */
    overflow-x: hidden; /* Disable horizontal scroll */
    padding-top: 40px;
    transition: 0.5s;
}

    /* The navigation menu links */
    .sidenav a {
        text-decoration: none;
        font-family: MerriweatherSans-Light;
        font-size: 25px;
        color: white;
        display: block;
        padding-left: 15px;
        transition: 0.3s;
    }


        /* When you mouse over the navigation links, change their color */
        .sidenav a:hover {
            /*color: #f5580f;*/
            /*color:#818181;*/
            color: #464646;
            transition: 0.45s;
            /*opacity:1;*/
        }
		
		.sidenav img {
			width:12%;
			float:left;
			margin-right:5px;
		}

.closebtn {
    display: inline;
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
}


/* Open tab of the side navigation*/
#opennav {
    display: block;
    color: white;
    margin-top: 100px;
    font-size: 30px;
    cursor: pointer;
}

.footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 6.5%;
    background-color: black;
    color: white;
    text-align: right;
    opacity: 0.6;
    font-family: MerriweatherSans-Light;
    font-size: 13px;
    font-style: normal;
}

ul li {
    display: inline;
    padding-left: 10px;
    padding-right: 15px;
}

    ul li a {
        padding: 10px;
        color: white;
        text-decoration: none;
    }

        ul li a:hover {
            /*color: #000000;
            background-color: floralwhite;
            transition: all 0.45s;
            border-radius: 3px;
            opacity: 0.7;*/
        }

#srch {
    margin-left: 800px;
    margin-top: 50px;
    width: 250px;
    padding: 10px;
    border-radius: 5px;
}
.listt{
	Padding-left:250px;
}

.eventsub{
	Padding-left:240px;
}